<div class="row">
    <div class="main-container">
        <div class="text-center">
          <h3>AitShare - Making better place with art</h3>
        </div>
    </div>
</div>

<br/>

<!-- HOMES -->
<div><h3>シェアできる作品</h3></div>
<br/>

<div class="row">
  <%= render partial: "crafts/crafts_list", locals: {crafts: @crafts} %>
</div>
